body {
margin: 0px;
}

.container {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center
}
.container2 {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center
}

.cabeçalho {
	margin: 0px;
	width: 1000px;
	height: 300px;
	color: white;
}

.ola {
	margin: 0px;
	padding: 200px 0px 0px 30px;
}

.atalhos{
	width: 1000px;
	height: 300px;
	color: white;
}

h2 {
	padding: 0px 0px 0px 30px;
}

#tituloSalas{ 
}

.salas{
	background-color: #eeeeee;
	width: 1000px;
	height: 300px;
}

img {
	background-color: #eeeeee;
	margin: 30px;
	border: 20px solid;
	border-color: #eeeeee;
	border-radius: 20px;
	width: 80px;
	height: 80px;
}